.DS_Store
.idea/
Thumbs.db
temp/*
.nx

yarn.lock
lerna-debug.log
# package-lock.json # Lerna really likes having package-lock.json included...
/node_modules
.build/
tsconfig.tsbuildinfo
.tsbuildinfo

tmp.js

packages/*/dist/*
/packages/*/src/**/*.d.ts
/packages/*/src/**/*.d.ts.map
!/packages/*/src/**/shim.d.ts
packages/*/node_modules

# Vuepress
docs/.vuepress/.temp
docs/.vuepress/.cache
docs/.vuepress/dist

# Ignore internal todo-list (if any)
.todo.md

# Ignore various environment files in root directory
.env
.testing
.production
.locale
.development
