.DS_Store
.idea/
Thumbs.db
temp/*
.nx

yarn.lock
packages.lock
pnpm-lock.yaml
lerna-debug.log
/node_modules
.build/
tsconfig.tsbuildinfo
.tsbuildinfo

tmp.js

# Turbo specific
.turbo
packages/*/.turbo

# Test Specific
coverage/*

# Packages
packages/*/dist/*
/packages/*/src/**/*.d.ts
/packages/*/src/**/*.d.ts.map
!/packages/*/src/**/shim.d.ts
packages/*/node_modules

# Vuepress
docs/.vuepress/.temp
docs/.vuepress/.cache
docs/.vuepress/dist

# Ignore internal todo-list (if any)
.todo.md

# Ignore various environment files in root directory
.env
.testing
.production
.locale
.development
